In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import json
import numpy as np
import csv

In [2]:
Result = pd.read_csv('extract/raw-data.csv')
Result

,Unnamed: 0,Rank,Bib,FIS code,Athlete,Year,Nation,Time,Diff. Time,FIS Points,Event,Place,Date,Result Type,Season
0,0,1.0,31.0,3295157,SCARDONI Lucia,1991.0,ITA,3:03.01,3:03.01,0.00,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,2020
1,1,2.0,12.0,3535320,MAUBET BJORNSEN Sadie,1989.0,USA,3:04.16,+1.15,7.54,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,2020
2,2,3.0,23.0,3295193,LAURENT Greta,1992.0,ITA,3:05.15,+2.14,14.03,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,2020
3,3,4.0,4.0,3535304,CALDWELL Sophie,1990.0,USA,3:05.62,+2.61,17.11,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,2020
4,4,5.0,27.0,3426112,STENSETH Ane Appelkvist,1995.0,NOR,3:05.67,+2.66,17.44,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6731,6731,47.0,39.0,3530772,LUSTGARTEN Benjamin,1992.0,USA,2:21:25.4,+13:20.1,145.75,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,2020
6732,6732,48.0,52.0,3181007,VUORELA Markus,1996.0,FIN,2:22:37.9,+14:32.6,158.96,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,2020
6733,6733,49.0,56.0,3120063,SHANG Jincai,1993.0,CHN,2:23:13.9,+15:08.6,165.52,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,2020
6734,6734,50.0,38.0,3530711,MARTIN Adam,1994.0,USA,2:23:15.4,+15:10.1,165.79,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,2020
6735,6735,51.0,37.0,3290504,VENTURA Paolo,1996.0,ITA,2:26:07.3,+18:02.0,197.10,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,2020

In [13]:
Result.replace(r'^\s*$', np.nan, regex=True, inplace=True)
Result['Rank']=Result['Rank'].fillna(method='ffill')
Result.info()
Result

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   229 non-null    int64
 1   Rank         229 non-null    float64
 2   Bib          229 non-null    int64
 3   FIS code     229 non-null    int64
 4   Athlete      154 non-null    object
 5   Year         204 non-null    float64
 6   Nation       179 non-null    object
 7   Time         92 non-null     object
 8   Diff. Time   102 non-null    object
 9   FIS Points   92 non-null     float64
 10  Event        229 non-null    object
 11  Place        229 non-null    object
 12  Date         229 non-null    object
 13  Result Type  229 non-null    object
 14  Name         75 non-null     object
 15  Tot. Time    10 non-null     object
dtypes: float64(3), int64(3), object(10)
memory usage: 28.8+ KB

,Unnamed: 0,Rank,Bib,FIS code,Athlete,Year,Nation,Time,Diff. Time,FIS Points,Event,Place,Date,Result Type,Name,Tot. Time
0,0,1.0,31,3295157,SCARDONI Lucia,1991.0,ITA,3:03.01,3:03.01,0.00,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN
1,1,2.0,12,3535320,MAUBET BJORNSEN Sadie,1989.0,USA,3:04.16,+1.15,7.54,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN
2,2,3.0,23,3295193,LAURENT Greta,1992.0,ITA,3:05.15,+2.14,14.03,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN
3,3,4.0,4,3535304,CALDWELL Sophie,1990.0,USA,3:05.62,+2.61,17.11,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN
4,4,5.0,27,3426112,STENSETH Ane Appelkvist,1995.0,NOR,3:05.67,+2.66,17.44,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,224,58.0,34,3486177,BAYAZITOVA Aida,1998.0,RUS,NaN,NaN,NaN,Women's SP F Final,Dresden (GER),"Jan 11, 2020",World Cup,NaN,NaN
225,225,59.0,61,3045070,WRIGHT Casey,1994.0,AUS,NaN,NaN,NaN,Women's SP F Final,Dresden (GER),"Jan 11, 2020",World Cup,NaN,NaN
226,226,60.0,29,3125106,JIALIN Bayani,1999.0,CHN,NaN,NaN,NaN,Women's SP F Final,Dresden (GER),"Jan 11, 2020",World Cup,NaN,NaN
227,227,61.0,62,3695082,KROL Yuliia,1998.0,UKR,NaN,NaN,NaN,Women's SP F Final,Dresden (GER),"Jan 11, 2020",World Cup,NaN,NaN
228,228,62.0,52,3385016,MALEC Vedrana,1990.0,CRO,NaN,NaN,NaN,Women's SP F Final,Dresden (GER),"Jan 11, 2020",World Cup,NaN,NaN

In [14]:
Result['Rank'] = Result['Rank'].astype('int')
Result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   229 non-null    int64
 1   Rank         229 non-null    int64
 2   Bib          229 non-null    int64
 3   FIS code     229 non-null    int64
 4   Athlete      154 non-null    object
 5   Year         204 non-null    float64
 6   Nation       179 non-null    object
 7   Time         92 non-null     object
 8   Diff. Time   102 non-null    object
 9   FIS Points   92 non-null     float64
 10  Event        229 non-null    object
 11  Place        229 non-null    object
 12  Date         229 non-null    object
 13  Result Type  229 non-null    object
 14  Name         75 non-null     object
 15  Tot. Time    10 non-null     object
dtypes: float64(2), int64(4), object(10)
memory usage: 28.8+ KB

In [15]:
def technique(Event):
    if "C/F" in Event:
        return "Skiathlon"
    elif "C" in Event:
        return 'Classic'
    elif "F" in Event:
        return 'Free'
    return 'Team'

def gender(Event):
    if "Women" in Event:
        return "Women"
    return "Men"

def team(Event):
    if "Team" in Event or "Rel" in Event:
        return "Team"
    return "Individual"

def sprintdistance(Event):
    if "SP" in Event or "sprint" in Event:
        return "Sprint"
    if "Overall" in Event:
        return "Overall"
    return "Distance"

def distance(Event):
    if "SP" in Event or "sprint" in Event:
        return "Sprint"
    elif "10" in Event:
        return "10"
    elif "15" in Event:
        return "15"
    elif "7.5/7.5" in Event:
        return "7.5/7.5"
    elif "15/15" in Event:
        return "15/15"
    elif "4x" in Event:
        return "Relay"
    elif "30" in Event:
        return "30"
    elif "50" in Event:
        return "50"
    elif "Overall" in Event:
        return "Overall"
    return "Other"

def points(ResultType):
    if "Overall" in ResultType:
        return 0
    elif "World Cup" in ResultType:
        return 1
    return 0

        
Result['Technique']=Result.apply(lambda x: technique(x['Event']),axis=1)
Result['Gender']=Result.apply(lambda x: gender(x['Event']),axis=1)
Result['Event individual/team']=Result.apply(lambda x: team(x['Event']),axis=1)
Result['Event sprint/distance']=Result.apply(lambda x: sprintdistance(x['Event']),axis=1)
Result['Distance']=Result.apply(lambda x: distance(x['Event']),axis=1)
Result['Points']=Result.apply(lambda x: points(x['Result Type']+x['Event']),axis=1)
Result
#Result.loc[(Result['FIS code']=='3185705') & (Result['Rank']<=3)]

,Unnamed: 0,Rank,Bib,FIS code,Athlete,Year,Nation,Time,Diff. Time,FIS Points,...,Date,Result Type,Name,Tot. Time,Technique,Gender,Event individual/team,Event sprint/distance,Distance,Points
0,0,1,31,3295157,SCARDONI Lucia,1991.0,ITA,3:03.01,3:03.01,0.00,...,"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
1,1,2,12,3535320,MAUBET BJORNSEN Sadie,1989.0,USA,3:04.16,+1.15,7.54,...,"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
2,2,3,23,3295193,LAURENT Greta,1992.0,ITA,3:05.15,+2.14,14.03,...,"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
3,3,4,4,3535304,CALDWELL Sophie,1990.0,USA,3:05.62,+2.61,17.11,...,"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
4,4,5,27,3426112,STENSETH Ane Appelkvist,1995.0,NOR,3:05.67,+2.66,17.44,...,"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,224,58,34,3486177,BAYAZITOVA Aida,1998.0,RUS,NaN,NaN,NaN,...,"Jan 11, 2020",World Cup,NaN,NaN,Free,Women,Individual,Sprint,Sprint,1
225,225,59,61,3045070,WRIGHT Casey,1994.0,AUS,NaN,NaN,NaN,...,"Jan 11, 2020",World Cup,NaN,NaN,Free,Women,Individual,Sprint,Sprint,1
226,226,60,29,3125106,JIALIN Bayani,1999.0,CHN,NaN,NaN,NaN,...,"Jan 11, 2020",World Cup,NaN,NaN,Free,Women,Individual,Sprint,Sprint,1
227,227,61,62,3695082,KROL Yuliia,1998.0,UKR,NaN,NaN,NaN,...,"Jan 11, 2020",World Cup,NaN,NaN,Free,Women,Individual,Sprint,Sprint,1
228,228,62,52,3385016,MALEC Vedrana,1990.0,CRO,NaN,NaN,NaN,...,"Jan 11, 2020",World Cup,NaN,NaN,Free,Women,Individual,Sprint,Sprint,1

In [24]:
athletes=Result[['FIS code','Athlete','Year','Nation']]
athletes=athletes.drop_duplicates()
athletes=athletes.dropna()
athletes.loc[athletes['FIS code']==3295157]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127 entries, 0 to 228
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   FIS code  127 non-null    int64
 1   Athlete   127 non-null    object
 2   Year      127 non-null    float64
 3   Nation    127 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 5.0+ KB

   FIS code         Athlete    Year Nation
0   3295157  SCARDONI Lucia  1991.0    ITA

In [17]:
columns=['Athlete','Year','Nation',]
Result.drop(columns, inplace=True, axis=1)
Result

,Unnamed: 0,Rank,Bib,FIS code,Time,Diff. Time,FIS Points,Event,Place,Date,Result Type,Name,Tot. Time,Technique,Gender,Event individual/team,Event sprint/distance,Distance,Points
0,0,1,31,3295157,3:03.01,3:03.01,0.00,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
1,1,2,12,3535320,3:04.16,+1.15,7.54,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
2,2,3,23,3295193,3:05.15,+2.14,14.03,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
3,3,4,4,3535304,3:05.62,+2.61,17.11,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
4,4,5,27,3426112,3:05.67,+2.66,17.44,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,224,58,34,3486177,NaN,NaN,NaN,Women's SP F Final,Dresden (GER),"Jan 11, 2020",World Cup,NaN,NaN,Free,Women,Individual,Sprint,Sprint,1
225,225,59,61,3045070,NaN,NaN,NaN,Women's SP F Final,Dresden (GER),"Jan 11, 2020",World Cup,NaN,NaN,Free,Women,Individual,Sprint,Sprint,1
226,226,60,29,3125106,NaN,NaN,NaN,Women's SP F Final,Dresden (GER),"Jan 11, 2020",World Cup,NaN,NaN,Free,Women,Individual,Sprint,Sprint,1
227,227,61,62,3695082,NaN,NaN,NaN,Women's SP F Final,Dresden (GER),"Jan 11, 2020",World Cup,NaN,NaN,Free,Women,Individual,Sprint,Sprint,1
228,228,62,52,3385016,NaN,NaN,NaN,Women's SP F Final,Dresden (GER),"Jan 11, 2020",World Cup,NaN,NaN,Free,Women,Individual,Sprint,Sprint,1

Left joinar på Wins på Athlete tabellen. 

Räknar endast när Rank=1 och Points=1 vilket betyder att det inte är ett kval eller overall slutresultat.

In [27]:
KPI = 'Podiums'
GroupBy = 'Points'
Definition = (Result['Rank'] <= 3) & (Result['Points']==1)

if KPI in athletes:
    athletes.drop(KPI, inplace=True, axis=1)

tmp_kpi=Result.loc[Definition]
tmp_kpi=tmp_kpi.groupby('FIS code')[GroupBy].value_counts()

athletes = pd.merge(athletes, tmp_kpi,how='left', on='FIS code')
athletes.rename(columns={GroupBy:KPI}, inplace=True)
athletes[KPI] = athletes[KPI].fillna(0)

athletes

     FIS code                  Athlete    Year Nation  Top 10  Podiums
0     3295157           SCARDONI Lucia  1991.0    ITA     0.0      0.0
1     3535320    MAUBET BJORNSEN Sadie  1989.0    USA     0.0      0.0
2     3295193            LAURENT Greta  1992.0    ITA     0.0      0.0
3     3535304          CALDWELL Sophie  1990.0    USA     2.0      0.0
4     3426112  STENSETH Ane Appelkvist  1995.0    NOR     0.0      0.0
..        ...                      ...     ...    ...     ...      ...
122   3125103     YILAMUJIANG Dinigeer  2001.0    CHN     0.0      0.0
123   3486177          BAYAZITOVA Aida  1998.0    RUS     0.0      0.0
124   3045070             WRIGHT Casey  1994.0    AUS     0.0      0.0
125   3125106            JIALIN Bayani  1999.0    CHN     0.0      0.0
126   3385016            MALEC Vedrana  1990.0    CRO     0.0      0.0

[127 rows x 6 columns]

In [28]:
KPI = 'Wins'
GroupBy = 'Points'
Definition = (Result['Rank'] == 1) & (Result['Points']==1)

if KPI in athletes:
    athletes.drop(KPI, inplace=True, axis=1)

tmp_kpi=Result.loc[Definition]
tmp_kpi=tmp_kpi.groupby('FIS code')[GroupBy].value_counts()

athletes = pd.merge(athletes, tmp_kpi,how='left', on='FIS code')
athletes.rename(columns={GroupBy:KPI}, inplace=True)
athletes[KPI] = athletes[KPI].fillna(0)

athletes

     FIS code                  Athlete    Year Nation  Top 10  Podiums  Wins
0     3295157           SCARDONI Lucia  1991.0    ITA     0.0      0.0   0.0
1     3535320    MAUBET BJORNSEN Sadie  1989.0    USA     0.0      0.0   0.0
2     3295193            LAURENT Greta  1992.0    ITA     0.0      0.0   0.0
3     3535304          CALDWELL Sophie  1990.0    USA     2.0      0.0   0.0
4     3426112  STENSETH Ane Appelkvist  1995.0    NOR     0.0      0.0   0.0
..        ...                      ...     ...    ...     ...      ...   ...
122   3125103     YILAMUJIANG Dinigeer  2001.0    CHN     0.0      0.0   0.0
123   3486177          BAYAZITOVA Aida  1998.0    RUS     0.0      0.0   0.0
124   3045070             WRIGHT Casey  1994.0    AUS     0.0      0.0   0.0
125   3125106            JIALIN Bayani  1999.0    CHN     0.0      0.0   0.0
126   3385016            MALEC Vedrana  1990.0    CRO     0.0      0.0   0.0

[127 rows x 7 columns]

In [31]:
KPI = 'Top 10'
GroupBy = 'Points'
Definition = (Result['Rank'] <= 10) & (Result['Points']==1)

if KPI in athletes:
    athletes.drop(KPI, inplace=True, axis=1)

tmp_kpi=Result.loc[Definition]
tmp_kpi=tmp_kpi.groupby('FIS code')[GroupBy].value_counts()

athletes = pd.merge(athletes, tmp_kpi,how='left', on='FIS code')
athletes.rename(columns={GroupBy:KPI}, inplace=True)
athletes[KPI] = athletes[KPI].fillna(0)

athletes

     FIS code                  Athlete    Year Nation  Podiums  Wins  Top 10
0     3295157           SCARDONI Lucia  1991.0    ITA      0.0   0.0     0.0
1     3535320    MAUBET BJORNSEN Sadie  1989.0    USA      0.0   0.0     0.0
2     3295193            LAURENT Greta  1992.0    ITA      0.0   0.0     0.0
3     3535304          CALDWELL Sophie  1990.0    USA      0.0   0.0     2.0
4     3426112  STENSETH Ane Appelkvist  1995.0    NOR      0.0   0.0     0.0
..        ...                      ...     ...    ...      ...   ...     ...
122   3125103     YILAMUJIANG Dinigeer  2001.0    CHN      0.0   0.0     0.0
123   3486177          BAYAZITOVA Aida  1998.0    RUS      0.0   0.0     0.0
124   3045070             WRIGHT Casey  1994.0    AUS      0.0   0.0     0.0
125   3125106            JIALIN Bayani  1999.0    CHN      0.0   0.0     0.0
126   3385016            MALEC Vedrana  1990.0    CRO      0.0   0.0     0.0

[127 rows x 7 columns]

In [32]:
athletes.info()
Result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127 entries, 0 to 126
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   FIS code  127 non-null    int64
 1   Athlete   127 non-null    object
 2   Year      127 non-null    float64
 3   Nation    127 non-null    object
 4   Podiums   127 non-null    float64
 5   Wins      127 non-null    float64
 6   Top 10    127 non-null    float64
dtypes: float64(4), int64(1), object(2)
memory usage: 7.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             229 non-null    int64
 1   Rank                   229 non-null    int64
 2   Bib                    229 non-null    int64
 3   FIS code               229 non-null    int64
 4   Time                   92 non-null     object
 5   Diff. Time             102 non-null    object
 6   FIS Points             92 non-null     float64
 7   Event                  229 non-null    object
 8   Place                  229 non-null    object
 9   Date                   229 non-null    object
 10  Result Type            229 non-null    object
 11  Name                   75 non-null     object
 12  Tot. Time              10 non-null     object
 13  Technique              229 non-null    object
 14  Gender                 229 non-null    object
 15  Event individual/team  229 non-null    object
 16  Event sprint/distance  229 non-null    object
 17  Distance               229 non-null    object
 18  Points                 229 non-null    int64
dtypes: float64(1), int64(5), object(13)
memory usage: 34.1+ KB

In [33]:

# df['Rank']=df['Rank'].astype('int')
# df['Bib']=df['Bib'].astype('int')
# df['FIS code']=df['FIS code'].astype('int')
# df['FIS Points']=df['FIS Points'].astype('float')
# df['Year']=df['Year'].astype('int')

athletes.to_csv('athletes.csv',encoding='utf-8')
Result.to_csv('results.csv',encoding='utf-8')