In [27]:
import pandas as pd
import numpy as np

In [28]:
Result = pd.read_csv('data/transform/elo_test.csv')
Result

,Unnamed: 0,Rank,Bib,FIS code,Athlete,Year,Nation,Time,Diff. Time,FIS Points,...,Place,Date,Result Type,Season,Technique,Gender,Event individual/team,Event sprint/distance,Distance,Points
0,0,1,31.0,3295157,SCARDONI Lucia,1991.0,ITA,3:03.01,3:03.01,0.00,...,Ruka (FIN),2019-11-29,Sprint Qualification,2020,Classic,Women,Individual,Sprint,Sprint,0
1,1,2,12.0,3535320,MAUBET BJORNSEN Sadie,1989.0,USA,3:04.16,+1.15,7.54,...,Ruka (FIN),2019-11-29,Sprint Qualification,2020,Classic,Women,Individual,Sprint,Sprint,0
2,2,3,23.0,3295193,LAURENT Greta,1992.0,ITA,3:05.15,+2.14,14.03,...,Ruka (FIN),2019-11-29,Sprint Qualification,2020,Classic,Women,Individual,Sprint,Sprint,0
3,3,4,4.0,3535304,CALDWELL Sophie,1990.0,USA,3:05.62,+2.61,17.11,...,Ruka (FIN),2019-11-29,Sprint Qualification,2020,Classic,Women,Individual,Sprint,Sprint,0
4,4,5,27.0,3426112,STENSETH Ane Appelkvist,1995.0,NOR,3:05.67,+2.66,17.44,...,Ruka (FIN),2019-11-29,Sprint Qualification,2020,Classic,Women,Individual,Sprint,Sprint,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,865,72,NaN,3181015,HAKALA Karri,1996.0,FIN,1:21:04.5,+7:57.8,NaN,...,Ruka (FIN),2019-12-01,World Cup,2020,Team,Men,Individual,Overall,Overall,0
866,866,73,NaN,3740072,MIKAYELYAN Mikayel,1999.0,ARM,1:21:19.5,+8:12.8,NaN,...,Ruka (FIN),2019-12-01,World Cup,2020,Team,Men,Individual,Overall,Overall,0
867,867,74,NaN,3660055,VORANAU Aliaksandr,1990.0,BLR,1:21:28.3,+8:21.6,NaN,...,Ruka (FIN),2019-12-01,World Cup,2020,Team,Men,Individual,Overall,Overall,0
868,868,75,NaN,3181098,SUHONEN Verneri,1997.0,FIN,1:21:32.3,+8:25.6,NaN,...,Ruka (FIN),2019-12-01,World Cup,2020,Team,Men,Individual,Overall,Overall,0
869,869,76,NaN,3430103,STAREGA Maciej,1990.0,POL,1:21:39.5,+8:32.8,NaN,...,Ruka (FIN),2019-12-01,World Cup,2020,Team,Men,Individual,Overall,Overall,0

In [29]:
df = pd.DataFrame(Result[['Athlete','Rank','Event']])
df

                     Athlete  Rank                   Event
0             SCARDONI Lucia     1      Women's SP  C Qual
1      MAUBET BJORNSEN Sadie     2      Women's SP  C Qual
2              LAURENT Greta     3      Women's SP  C Qual
3            CALDWELL Sophie     4      Women's SP  C Qual
4    STENSETH Ane Appelkvist     5      Women's SP  C Qual
..                       ...   ...                     ...
865             HAKALA Karri    72  Men's Overall Standing
866       MIKAYELYAN Mikayel    73  Men's Overall Standing
867       VORANAU Aliaksandr    74  Men's Overall Standing
868          SUHONEN Verneri    75  Men's Overall Standing
869           STAREGA Maciej    76  Men's Overall Standing

[870 rows x 3 columns]

In [30]:
historic_elo=pd.DataFrame
historic_elo=pd.DataFrame(df['Athlete'].unique())
historic_elo['historic_elo'] = np.random.randint(1490,1510, size=len(historic_elo))
historic_elo
dict_elo=historic_elo.set_index(0).T
dict_elo

,SCARDONI Lucia,MAUBET BJORNSEN Sadie,LAURENT Greta,CALDWELL Sophie,STENSETH Ane Appelkvist,FALLA Maiken Caspersen,LAMPIC Anamarija,PARMAKOSKI Krista,JACOBSEN Astrid Uhrenholdt,NILSSON Stina,...,DOBLER Jonas,MIKAYELYAN Mikayel,BIKSE Indulis,BRATRUD Kyle,POGHOSYAN Tadevos,LEE Geon-yong,KORISTEK Jan,JEONG Jongwon,ZHU Mingliang,IKONEN Joel
historic_elo,1502,1502,1495,1505,1491,1491,1492,1491,1493,1492,...,1500,1494,1498,1507,1504,1506,1503,1501,1494,1509

In [31]:
for tävling in df['Event'].unique():
    
    df_iter=df[df['Event']==tävling]
    df_iter['Looser']=df_iter['Athlete'].shift(periods=-1)
    df_iter=df_iter.dropna()
    
    print(df_iter)
    for index, row in df_iter.iterrows():
    
        k_factor=32

        winner = row['Athlete']
        looser = row['Looser']

        winner_elo = dict_elo[winner]
        looser_elo = dict_elo[looser]

        prob_win_home = 1 / (1 + 10**((looser_elo - winner_elo) / 400))
        prob_win_away = 1 - prob_win_home

        new_winner_elo = winner_elo + k_factor*(1 - prob_win_home) * 1
        new_looser_elo = looser_elo + k_factor*(0 - prob_win_away) * 1

        tmp_looser = new_looser_elo

        dict_elo[winner] = new_winner_elo
        dict_elo[looser] = new_looser_elo
        print(dict_elo['JOHAUG Therese'])
        
dict_elo

/Users/simon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                    Athlete  Rank               Event                   Looser
0            SCARDONI Lucia     1  Women's SP  C Qual    MAUBET BJORNSEN Sadie
1     MAUBET BJORNSEN Sadie     2  Women's SP  C Qual            LAURENT Greta
2             LAURENT Greta     3  Women's SP  C Qual          CALDWELL Sophie
3           CALDWELL Sophie     4  Women's SP  C Qual  STENSETH Ane Appelkvist
4   STENSETH Ane Appelkvist     5  Women's SP  C Qual   FALLA Maiken Caspersen
..                      ...   ...                 ...                      ...
86            GOLOVAN Diana    87  Women's SP  C Qual       TYULENEVA Valeriya
87       TYULENEVA Valeriya    88  Women's SP  C Qual                HAN Dasom
88                HAN Dasom    89  Women's SP  C Qual                  MA Chun
89                  MA Chun    90  Women's SP  C Qual              LEE Eui Jin
90              LEE Eui Jin    91  Women's SP  C Qual           GALSTYAN Katya

[91 rows x 4 columns]
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1509
Name: JOHAUG Therese, dtype: int64
historic_elo    1492.06861
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
                      Athlete  Rank             Event               Looser
92   KLAEBO Johannes Hoesflot     1  Men's SP  C Qual          VALNES Erik
93                VALNES Erik     2  Men's SP  C Qual  PELLEGRINO Federico
94        PELLEGRINO Federico     3  Men's SP  C Qual         GOLBERG Paal
95               GOLBERG Paal     4  Men's SP  C Qual    HAEGGSTROEM Johan
96          HAEGGSTROEM Johan     5  Men's SP  C Qual           MAEKI Joni
..                        ...   ...               ...                  ...
192         POGHOSYAN Tadevos   101  Men's SP  C Qual        LEE Geon-yong
193             LEE Geon-yong   102  Men's SP  C Qual         KORISTEK Jan
194              KORISTEK Jan   103  Men's SP  C Qual        JEONG Jongwon
195             JEONG Jongwon   104  Men's SP  C Qual        ZHU Mingliang
196             ZHU Mingliang   105  Men's SP  C Qual          IKONEN Joel

[105 rows x 4 columns]

/Users/simon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
                     Athlete  Rank                Event  \
198   FALLA Maiken Caspersen     1  Women's SP  C Final
199           SUNDLING Jonna     2  Women's SP  C Final
200    MAUBET BJORNSEN Sadie     3  Women's SP  C Final
201  STENSETH Ane Appelkvist     4  Women's SP  C Final
202            NILSSON Stina     5  Women's SP  C Final
..                       ...   ...                  ...
284            GOLOVAN Diana    87  Women's SP  C Final
285       TYULENEVA Valeriya    88  Women's SP  C Final
286                HAN Dasom    89  Women's SP  C Final
287                  MA Chun    90  Women's SP  C Final
288              LEE Eui Jin    91  Women's SP  C Final

                      Looser
198           SUNDLING Jonna
199    MAUBET BJORNSEN Sadie
200  STENSETH Ane Appelkvist
201            NILSSON Stina
202         WENG Tiril Udnes
..                       ...
284       TYULENEVA Valeriya
285                HAN Dasom
286                  MA Chun
287              LEE Eui Jin
288           GALSTYAN Katya

[91 rows x 4 columns]
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64

/Users/simon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1508.479825
Name: JOHAUG Therese, dtype: float64
historic_elo    1491.139233
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
                      Athlete  Rank              Event               Looser
290  KLAEBO Johannes Hoesflot     1  Men's SP  C Final         GOLBERG Paal
291              GOLBERG Paal     2  Men's SP  C Final        JOUVE Richard
292             JOUVE Richard     3  Men's SP  C Final  BOLSHUNOV Alexander
293       BOLSHUNOV Alexander     4  Men's SP  C Final         IVERSEN Emil
294              IVERSEN Emil     5  Men's SP  C Final       SVENSSON Oskar
..                        ...   ...                ...                  ...
390         POGHOSYAN Tadevos   101  Men's SP  C Final        LEE Geon-yong
391             LEE Geon-yong   102  Men's SP  C Final         KORISTEK Jan
392              KORISTEK Jan   103  Men's SP  C Final        JEONG Jongwon
393             JEONG Jongwon   104  Men's SP  C Final        ZHU Mingliang
394             ZHU Mingliang   105  Men's SP  C Final          IKONEN Joel

[105 rows x 4 columns]
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64

/Users/simon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
historic_elo    1507.353843
Name: JOHAUG Therese, dtype: float64
                   Athlete  Rank            Event                 Looser
396         JOHAUG Therese     1  Women's 10 km C      PARMAKOSKI Krista
397      PARMAKOSKI Krista     2  Women's 10 km C      NEPRYAEVA Natalia
398      NEPRYAEVA Natalia     3  Women's 10 km C  MAUBET BJORNSEN Sadie
399  MAUBET BJORNSEN Sadie     4  Women's 10 km C      RAZYMOVA Katerina
400      RAZYMOVA Katerina     5  Women's 10 km C          BRENNAN Rosie
..                     ...   ...              ...                    ...
474      JANATOVA Katerina    79  Women's 10 km C          LAURENT Greta
475          LAURENT Greta    80  Women's 10 km C            KROL Yuliia
476            KROL Yuliia    81  Women's 10 km C     KAMINSKA Valentyna
477     KAMINSKA Valentyna    82  Women's 10 km C              HAN Dasom
478              HAN Dasom    83  Women's 10 km C            LEE Eui Jin

[83 rows x 4 columns]
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64

/Users/simon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
                      Athlete  Rank          Event                    Looser
480             NISKANEN Iivo     1  Men's 15 km C  KLAEBO Johannes Hoesflot
481  KLAEBO Johannes Hoesflot     2  Men's 15 km C              IVERSEN Emil
482              IVERSEN Emil     3  Men's 15 km C           TOENSETH Didrik
483           TOENSETH Didrik     4  Men's 15 km C       BOLSHUNOV Alexander
484       BOLSHUNOV Alexander     5  Men's 15 km C             LARKOV Andrey
..                        ...   ...            ...                       ...
568             GROS Baptiste    89  Men's 15 km C                ROOS Henri
569                ROOS Henri    90  Men's 15 km C             BIKSE Indulis
570             BIKSE Indulis    91  Men's 15 km C             JEONG Jongwon
571             JEONG Jongwon    92  Men's 15 km C               SUN Qinghai
572               SUN Qinghai    93  Men's 15 km C             LEE Geon-yong

[93 rows x 4 columns]
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64

/Users/simon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
historic_elo    1522.659435
Name: JOHAUG Therese, dtype: float64
                        Athlete  Rank                    Event  \
574              JOHAUG Therese     1  Women's 10 km F Pursuit
575                  WENG Heidi     2  Women's 10 km F Pursuit
576  JACOBSEN Astrid Uhrenholdt     3  Women's 10 km F Pursuit
577       MAUBET BJORNSEN Sadie     4  Women's 10 km F Pursuit
578             DIGGINS Jessica     5  Women's 10 km F Pursuit
..                          ...   ...                      ...
640     STENSETH Ane Appelkvist    67  Women's 10 km F Pursuit
641             PAJUNOJA Maaret    68  Women's 10 km F Pursuit
642             KALETA Weronika    69  Women's 10 km F Pursuit
643           PROCHAZKOVA Alena    70  Women's 10 km F Pursuit
644               OLKKONEN Tiia    71  Women's 10 km F Pursuit

                         Looser
574                  WENG Heidi
575  JACOBSEN Astrid Uhrenholdt
576       MAUBET BJORNSEN Sadie
577             DIGGINS Jessica
578           PARMAKOSKI Krista
..                          ...
640             PAJUNOJA Maaret
641             KALETA Weronika
642           PROCHAZKOVA Alena
643               OLKKONEN Tiia
644          KAMINSKA Valentyna

[71 rows x 4 columns]
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64

/Users/simon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
                      Athlete  Rank                  Event  \
646  KLAEBO Johannes Hoesflot     1  Men's 15 km F Pursuit
647              IVERSEN Emil     2  Men's 15 km F Pursuit
648             NISKANEN Iivo     3  Men's 15 km F Pursuit
649              GOLBERG Paal     4  Men's 15 km F Pursuit
650       BOLSHUNOV Alexander     5  Men's 15 km F Pursuit
..                        ...   ...                    ...
716           DYUSSENOV Asset    71  Men's 15 km F Pursuit
717              HAKALA Karri    72  Men's 15 km F Pursuit
718        MIKAYELYAN Mikayel    73  Men's 15 km F Pursuit
719        VORANAU Aliaksandr    74  Men's 15 km F Pursuit
720           SUHONEN Verneri    75  Men's 15 km F Pursuit

                   Looser
646          IVERSEN Emil
647         NISKANEN Iivo
648          GOLBERG Paal
649   BOLSHUNOV Alexander
650  HOLUND Hans Christer
..                    ...
716          HAKALA Karri
717    MIKAYELYAN Mikayel
718    VORANAU Aliaksandr
719       SUHONEN Verneri
720        STAREGA Maciej

[75 rows x 4 columns]
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64

/Users/simon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
historic_elo    1537.867372
Name: JOHAUG Therese, dtype: float64
                        Athlete  Rank                     Event  \
722              JOHAUG Therese     1  Women's Overall Standing
723                  WENG Heidi     2  Women's Overall Standing
724  JACOBSEN Astrid Uhrenholdt     3  Women's Overall Standing
725       MAUBET BJORNSEN Sadie     4  Women's Overall Standing
726             DIGGINS Jessica     5  Women's Overall Standing
..                          ...   ...                       ...
788     STENSETH Ane Appelkvist    67  Women's Overall Standing
789             PAJUNOJA Maaret    68  Women's Overall Standing
790             KALETA Weronika    69  Women's Overall Standing
791           PROCHAZKOVA Alena    70  Women's Overall Standing
792               OLKKONEN Tiia    71  Women's Overall Standing

                         Looser
722                  WENG Heidi
723  JACOBSEN Astrid Uhrenholdt
724       MAUBET BJORNSEN Sadie
725             DIGGINS Jessica
726           PARMAKOSKI Krista
..                          ...
788             PAJUNOJA Maaret
789             KALETA Weronika
790           PROCHAZKOVA Alena
791               OLKKONEN Tiia
792          KAMINSKA Valentyna

[71 rows x 4 columns]
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64

/Users/simon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
                      Athlete  Rank                   Event  \
794  KLAEBO Johannes Hoesflot     1  Men's Overall Standing
795              IVERSEN Emil     2  Men's Overall Standing
796             NISKANEN Iivo     3  Men's Overall Standing
797              GOLBERG Paal     4  Men's Overall Standing
798       BOLSHUNOV Alexander     5  Men's Overall Standing
..                        ...   ...                     ...
864           DYUSSENOV Asset    71  Men's Overall Standing
865              HAKALA Karri    72  Men's Overall Standing
866        MIKAYELYAN Mikayel    73  Men's Overall Standing
867        VORANAU Aliaksandr    74  Men's Overall Standing
868           SUHONEN Verneri    75  Men's Overall Standing

                   Looser
794          IVERSEN Emil
795         NISKANEN Iivo
796          GOLBERG Paal
797   BOLSHUNOV Alexander
798  HOLUND Hans Christer
..                    ...
864          HAKALA Karri
865    MIKAYELYAN Mikayel
866    VORANAU Aliaksandr
867       SUHONEN Verneri
868        STAREGA Maciej

[75 rows x 4 columns]
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64

/Users/simon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64
historic_elo    1552.422719
Name: JOHAUG Therese, dtype: float64

,SCARDONI Lucia,MAUBET BJORNSEN Sadie,LAURENT Greta,CALDWELL Sophie,STENSETH Ane Appelkvist,FALLA Maiken Caspersen,LAMPIC Anamarija,PARMAKOSKI Krista,JACOBSEN Astrid Uhrenholdt,NILSSON Stina,...,DOBLER Jonas,MIKAYELYAN Mikayel,BIKSE Indulis,BRATRUD Kyle,POGHOSYAN Tadevos,LEE Geon-yong,KORISTEK Jan,JEONG Jongwon,ZHU Mingliang,IKONEN Joel
historic_elo,1512.403122,1500.892999,1497.013039,1502.189371,1494.035561,1507.371986,1494.565116,1495.048649,1495.828499,1494.651261,...,1500.041275,1495.486864,1498.444054,1505.163337,1503.960985,1488.534438,1502.930486,1500.455337,1495.098571,1474.954753