In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import json
import numpy as np
import csv

In [1]:
Result=csv.reader('raw-data.csv',encoding='utf-8')
Result

NameError: name 'csv' is not defined

In [56]:
Result = Result.reset_index(drop=True)
Result['Nation']= Result['Nation'].str.replace('\n','')
Result['Athlete']= Result['Athlete'].str.replace('\n','')
Result['Athlete']= Result['Athlete'].str.strip()
columns=['Name','Tot. Time','(Rk.)','FIS points Time']


Result.drop(columns, inplace=True, axis=1)
Result_old=Result

,Rank,Bib,FIS code,Athlete,Year,Nation,Time,Diff. Time,FIS Points,Event,Place,Date,Result Type,FIS points Time,(Rk.)
0,1,31,3295157,SCARDONI Lucia,1991,ITA,3:03.01,3:03.01,0.00,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN
1,2,12,3535320,MAUBET BJORNSEN Sadie,1989,USA,3:04.16,+1.15,7.54,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN
2,3,23,3295193,LAURENT Greta,1992,ITA,3:05.15,+2.14,14.03,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN
3,4,4,3535304,CALDWELL Sophie,1990,USA,3:05.62,+2.61,17.11,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN
4,5,27,3426112,STENSETH Ane Appelkvist,1995,NOR,3:05.67,+2.66,17.44,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6731,47,39,3530772,LUSTGARTEN Benjamin,1992,USA,2:21:25.4,+13:20.1,145.75,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,NaN,NaN
6732,48,52,3181007,VUORELA Markus,1996,FIN,2:22:37.9,+14:32.6,158.96,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,NaN,NaN
6733,49,56,3120063,SHANG Jincai,1993,CHN,2:23:13.9,+15:08.6,165.52,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,NaN,NaN
6734,50,38,3530711,MARTIN Adam,1994,USA,2:23:15.4,+15:10.1,165.79,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,NaN,NaN
6735,51,37,3290504,VENTURA Paolo,1996,ITA,2:26:07.3,+18:02.0,197.10,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,NaN,NaN

In [60]:
Result.replace(r'^\s*$', np.nan, regex=True, inplace=True)
Result['Rank']=Result['Rank'].fillna(method='ffill')
Result.info()
Result

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6736 entries, 0 to 6735
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             6736 non-null   object
 1   Bib              6385 non-null   object
 2   FIS code         6736 non-null   object
 3   Athlete          5885 non-null   object
 4   Year             6481 non-null   object
 5   Nation           6140 non-null   object
 6   Time             4366 non-null   object
 7   Diff. Time       4555 non-null   object
 8   FIS Points       4015 non-null   object
 9   Event            6736 non-null   object
 10  Place            6736 non-null   object
 11  Date             6736 non-null   object
 12  Result Type      6736 non-null   object
 13  FIS points Time  660 non-null    object
 14  (Rk.)            660 non-null    object
dtypes: object(15)
memory usage: 789.5+ KB

,Rank,Bib,FIS code,Athlete,Year,Nation,Time,Diff. Time,FIS Points,Event,Place,Date,Result Type,FIS points Time,(Rk.)
0,1,31,3295157,SCARDONI Lucia,1991,ITA,3:03.01,3:03.01,0.00,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN
1,2,12,3535320,MAUBET BJORNSEN Sadie,1989,USA,3:04.16,+1.15,7.54,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN
2,3,23,3295193,LAURENT Greta,1992,ITA,3:05.15,+2.14,14.03,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN
3,4,4,3535304,CALDWELL Sophie,1990,USA,3:05.62,+2.61,17.11,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN
4,5,27,3426112,STENSETH Ane Appelkvist,1995,NOR,3:05.67,+2.66,17.44,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6731,47,39,3530772,LUSTGARTEN Benjamin,1992,USA,2:21:25.4,+13:20.1,145.75,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,NaN,NaN
6732,48,52,3181007,VUORELA Markus,1996,FIN,2:22:37.9,+14:32.6,158.96,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,NaN,NaN
6733,49,56,3120063,SHANG Jincai,1993,CHN,2:23:13.9,+15:08.6,165.52,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,NaN,NaN
6734,50,38,3530711,MARTIN Adam,1994,USA,2:23:15.4,+15:10.1,165.79,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,NaN,NaN
6735,51,37,3290504,VENTURA Paolo,1996,ITA,2:26:07.3,+18:02.0,197.10,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,NaN,NaN

In [61]:
Result['Rank'] = Result['Rank'].astype('int')
Result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6736 entries, 0 to 6735
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             6736 non-null   int64
 1   Bib              6385 non-null   object
 2   FIS code         6736 non-null   object
 3   Athlete          5885 non-null   object
 4   Year             6481 non-null   object
 5   Nation           6140 non-null   object
 6   Time             4366 non-null   object
 7   Diff. Time       4555 non-null   object
 8   FIS Points       4015 non-null   object
 9   Event            6736 non-null   object
 10  Place            6736 non-null   object
 11  Date             6736 non-null   object
 12  Result Type      6736 non-null   object
 13  FIS points Time  660 non-null    object
 14  (Rk.)            660 non-null    object
dtypes: int64(1), object(14)
memory usage: 789.5+ KB

FIS code  Rank
3505793   1       1
3505800   1       1
3506166   1       2
Name: Rank, dtype: int64

In [62]:
def technique(Event):
    if "C/F" in Event:
        return "Skiathlon"
    elif "C" in Event:
        return 'Classic'
    elif "F" in Event:
        return 'Free'
    return 'Team'

def gender(Event):
    if "Women" in Event:
        return "Women"
    return "Men"

def team(Event):
    if "Team" in Event or "Rel" in Event:
        return "Team"
    return "Individual"

def sprintdistance(Event):
    if "SP" in Event or "sprint" in Event:
        return "Sprint"
    if "Overall" in Event:
        return "Overall"
    return "Distance"

def distance(Event):
    if "SP" in Event or "sprint" in Event:
        return "Sprint"
    elif "10" in Event:
        return "10"
    elif "15" in Event:
        return "15"
    elif "7.5/7.5" in Event:
        return "7.5/7.5"
    elif "15/15" in Event:
        return "15/15"
    elif "4x" in Event:
        return "Relay"
    elif "30" in Event:
        return "30"
    elif "50" in Event:
        return "50"
    elif "Overall" in Event:
        return "Overall"
    return "Other"

def points(ResultType):
    if "Overall" in ResultType:
        return 0
    elif "World Cup" in ResultType:
        return 1
    return 0

        
Result['Technique']=Result.apply(lambda x: technique(x['Event']),axis=1)
Result['Gender']=Result.apply(lambda x: gender(x['Event']),axis=1)
Result['Event individual/team']=Result.apply(lambda x: team(x['Event']),axis=1)
Result['Event sprint/distance']=Result.apply(lambda x: sprintdistance(x['Event']),axis=1)
Result['Distance']=Result.apply(lambda x: distance(x['Event']),axis=1)
Result['Points']=Result.apply(lambda x: points(x['Result Type']+x['Event']),axis=1)
Result
#Result.loc[(Result['FIS code']=='3185705') & (Result['Rank']<=3)]

,Rank,Bib,FIS code,Athlete,Year,Nation,Time,Diff. Time,FIS Points,Event,...,Date,Result Type,FIS points Time,(Rk.),Technique,Gender,Event individual/team,Event sprint/distance,Distance,Points
0,1,31,3295157,SCARDONI Lucia,1991,ITA,3:03.01,3:03.01,0.00,Women's SP C Qual,...,"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
1,2,12,3535320,MAUBET BJORNSEN Sadie,1989,USA,3:04.16,+1.15,7.54,Women's SP C Qual,...,"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
2,3,23,3295193,LAURENT Greta,1992,ITA,3:05.15,+2.14,14.03,Women's SP C Qual,...,"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
3,4,4,3535304,CALDWELL Sophie,1990,USA,3:05.62,+2.61,17.11,Women's SP C Qual,...,"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
4,5,27,3426112,STENSETH Ane Appelkvist,1995,NOR,3:05.67,+2.66,17.44,Women's SP C Qual,...,"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6731,47,39,3530772,LUSTGARTEN Benjamin,1992,USA,2:21:25.4,+13:20.1,145.75,Men's 50 km C Mst,...,"Mar 08, 2020",World Cup,NaN,NaN,Classic,Men,Individual,Distance,50,1
6732,48,52,3181007,VUORELA Markus,1996,FIN,2:22:37.9,+14:32.6,158.96,Men's 50 km C Mst,...,"Mar 08, 2020",World Cup,NaN,NaN,Classic,Men,Individual,Distance,50,1
6733,49,56,3120063,SHANG Jincai,1993,CHN,2:23:13.9,+15:08.6,165.52,Men's 50 km C Mst,...,"Mar 08, 2020",World Cup,NaN,NaN,Classic,Men,Individual,Distance,50,1
6734,50,38,3530711,MARTIN Adam,1994,USA,2:23:15.4,+15:10.1,165.79,Men's 50 km C Mst,...,"Mar 08, 2020",World Cup,NaN,NaN,Classic,Men,Individual,Distance,50,1
6735,51,37,3290504,VENTURA Paolo,1996,ITA,2:26:07.3,+18:02.0,197.10,Men's 50 km C Mst,...,"Mar 08, 2020",World Cup,NaN,NaN,Classic,Men,Individual,Distance,50,1

In [63]:
athletes=Result[['FIS code','Athlete','Year','Nation']]
athletes=athletes.drop_duplicates()
athletes=athletes.dropna()
athletes

     FIS code                  Athlete  Year Nation
0     3295157           SCARDONI Lucia  1991    ITA
1     3535320    MAUBET BJORNSEN Sadie  1989    USA
2     3295193            LAURENT Greta  1992    ITA
3     3535304          CALDWELL Sophie  1990    USA
4     3426112  STENSETH Ane Appelkvist  1995    NOR
...       ...                      ...   ...    ...
6648  3425896         THEODORSEN Silje  1994    NOR
6669  3486003          VASILIEVA Lilia  1994    RUS
6673  3425772      BJOERNSGAARD Marthe  1993    NOR
6681  3665059             LUKONINA Ina  1994    BLR
6702  3421269             STOCK Daniel  1992    NOR

[481 rows x 4 columns]

In [64]:
columns=['Athlete','Year','Nation',]
Result.drop(columns, inplace=True, axis=1)
Result

,Rank,Bib,FIS code,Time,Diff. Time,FIS Points,Event,Place,Date,Result Type,FIS points Time,(Rk.),Technique,Gender,Event individual/team,Event sprint/distance,Distance,Points
0,1,31,3295157,3:03.01,3:03.01,0.00,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
1,2,12,3535320,3:04.16,+1.15,7.54,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
2,3,23,3295193,3:05.15,+2.14,14.03,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
3,4,4,3535304,3:05.62,+2.61,17.11,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
4,5,27,3426112,3:05.67,+2.66,17.44,Women's SP C Qual,Ruka (FIN),"Nov 29, 2019",Sprint Qualification,NaN,NaN,Classic,Women,Individual,Sprint,Sprint,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6731,47,39,3530772,2:21:25.4,+13:20.1,145.75,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,NaN,NaN,Classic,Men,Individual,Distance,50,1
6732,48,52,3181007,2:22:37.9,+14:32.6,158.96,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,NaN,NaN,Classic,Men,Individual,Distance,50,1
6733,49,56,3120063,2:23:13.9,+15:08.6,165.52,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,NaN,NaN,Classic,Men,Individual,Distance,50,1
6734,50,38,3530711,2:23:15.4,+15:10.1,165.79,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,NaN,NaN,Classic,Men,Individual,Distance,50,1
6735,51,37,3290504,2:26:07.3,+18:02.0,197.10,Men's 50 km C Mst,Oslo (NOR),"Mar 08, 2020",World Cup,NaN,NaN,Classic,Men,Individual,Distance,50,1

In [65]:
athletes.loc[athletes['FIS code']=='3506166']

     FIS code     Athlete  Year Nation
1103  3506166  SVAHN Linn  1999    SWE

Left joinar pÃ¥ Wins pÃ¥ Athlete tabellen. 

RÃ¤knar endast nÃ¤r Rank=1 och Points=1 vilket betyder att det inte Ã¤r ett kval eller overall slutresultat.

In [67]:
KPI = 'Podiums'
GroupBy = 'Points'
Definition = (Result['Rank'] <= 3) & (Result['Points']==1)

if KPI in athletes:
    athletes.drop(KPI, inplace=True, axis=1)

tmp_kpi=Result.loc[Definition]
tmp_kpi=tmp_kpi.groupby('FIS code')[GroupBy].value_counts()

athletes = pd.merge(athletes, tmp_kpi,how='left', on='FIS code')
athletes.rename(columns={GroupBy:KPI}, inplace=True)
athletes[KPI] = athletes[KPI].fillna(0)

athletes

    FIS code                  Athlete  Year Nation  Podiums
0    3295157           SCARDONI Lucia  1991    ITA      0.0
1    3535320    MAUBET BJORNSEN Sadie  1989    USA      2.0
2    3295193            LAURENT Greta  1992    ITA      0.0
3    3535304          CALDWELL Sophie  1990    USA      2.0
4    3426112  STENSETH Ane Appelkvist  1995    NOR      0.0
..       ...                      ...   ...    ...      ...
476  3425896         THEODORSEN Silje  1994    NOR      0.0
477  3486003          VASILIEVA Lilia  1994    RUS      0.0
478  3425772      BJOERNSGAARD Marthe  1993    NOR      0.0
479  3665059             LUKONINA Ina  1994    BLR      0.0
480  3421269             STOCK Daniel  1992    NOR      0.0

[481 rows x 5 columns]

In [68]:
KPI = 'Wins'
GroupBy = 'Points'
Definition = (Result['Rank'] == 1) & (Result['Points']==1)

if KPI in athletes:
    athletes.drop(KPI, inplace=True, axis=1)

tmp_kpi=Result.loc[Definition]
tmp_kpi=tmp_kpi.groupby('FIS code')[GroupBy].value_counts()

athletes = pd.merge(athletes, tmp_kpi,how='left', on='FIS code')
athletes.rename(columns={GroupBy:KPI}, inplace=True)
athletes[KPI] = athletes[KPI].fillna(0)

athletes

    FIS code                  Athlete  Year Nation  Podiums  Wins
0    3295157           SCARDONI Lucia  1991    ITA      0.0   0.0
1    3535320    MAUBET BJORNSEN Sadie  1989    USA      2.0   0.0
2    3295193            LAURENT Greta  1992    ITA      0.0   0.0
3    3535304          CALDWELL Sophie  1990    USA      2.0   0.0
4    3426112  STENSETH Ane Appelkvist  1995    NOR      0.0   0.0
..       ...                      ...   ...    ...      ...   ...
476  3425896         THEODORSEN Silje  1994    NOR      0.0   0.0
477  3486003          VASILIEVA Lilia  1994    RUS      0.0   0.0
478  3425772      BJOERNSGAARD Marthe  1993    NOR      0.0   0.0
479  3665059             LUKONINA Ina  1994    BLR      0.0   0.0
480  3421269             STOCK Daniel  1992    NOR      0.0   0.0

[481 rows x 6 columns]

In [69]:
KPI = 'Top 10'
GroupBy = 'Points'
Definition = (Result['Rank'] <= 10) & (Result['Points']==1)

if KPI in athletes:
    athletes.drop(KPI, inplace=True, axis=1)

tmp_kpi=Result.loc[Definition]
tmp_kpi=tmp_kpi.groupby('FIS code')[GroupBy].value_counts()

athletes = pd.merge(athletes, tmp_kpi,how='left', on='FIS code')
athletes.rename(columns={GroupBy:KPI}, inplace=True)
athletes[KPI] = athletes[KPI].fillna(0)

athletes

    FIS code                  Athlete  Year Nation  Podiums  Wins  Top 10
0    3295157           SCARDONI Lucia  1991    ITA      0.0   0.0     1.0
1    3535320    MAUBET BJORNSEN Sadie  1989    USA      2.0   0.0    12.0
2    3295193            LAURENT Greta  1992    ITA      0.0   0.0     1.0
3    3535304          CALDWELL Sophie  1990    USA      2.0   0.0     9.0
4    3426112  STENSETH Ane Appelkvist  1995    NOR      0.0   0.0     4.0
..       ...                      ...   ...    ...      ...   ...     ...
476  3425896         THEODORSEN Silje  1994    NOR      0.0   0.0     0.0
477  3486003          VASILIEVA Lilia  1994    RUS      0.0   0.0     0.0
478  3425772      BJOERNSGAARD Marthe  1993    NOR      0.0   0.0     0.0
479  3665059             LUKONINA Ina  1994    BLR      0.0   0.0     0.0
480  3421269             STOCK Daniel  1992    NOR      0.0   0.0     0.0

[481 rows x 7 columns]

In [ ]:
#Ã…terstÃ¤ll Result
Result = pd.DataFrame()

In [ ]:

# df['Rank']=df['Rank'].astype('int')
# df['Bib']=df['Bib'].astype('int')
# df['FIS code']=df['FIS code'].astype('int')
# df['FIS Points']=df['FIS Points'].astype('float')
# df['Year']=df['Year'].astype('int')
print df.head()
df.to_csv('webscraper_FIS/Result.csv',encoding='utf-8')
print df.head()